<!DocType html>
<html>

<head>

   

    <style>
        body {
            background-color: linen;
        }

        table,
        td,
        th {
            border: 1px solid coral;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <button class="m-4" style="width: 150px;">ورود,ثبت نام</button>
    <button class="m-4" style="width: 150px;">پیگیری سفر</button>
    <button class="m-5" style="width: 200px;">search</button>
    <table style="width: 100%;">
        <tr>
            <th>شرکت هوابیمایی</th>
            <th>مبدا</th>
            <th>مقصد</th>
            <th>ظرفیت</th>
            <th>زمان</th>
            <th>تاریخ</th>
        </tr>
        <tr>
            <td>222</td>
            <td>333</td>
            <td>333</td>
            <td>111</td>
            <td>555</td>
            <td>999</td>
        </tr>
        <tr>
            <td>as</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
        </tr>
        <tr>
            <td>g</td>
            <td>h</td>
            <td>i</td>
            <td>j</td>
            <td>k</td>
            <td>l</td>
        </tr>
    </table>
</body>

</html>