<!DocType html>
<html>

<head>

   

    <style>
        body {
            background-color: linen;
        }

        table,
        td,
        th {
            border: 1px solid coral;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <button class="m-4" style="width: 150px;">ورود,ثبت نام</button>
    <button class="m-5" style="width: 200px;">جستجو</button>
    <table style="width: 100%;">
        <tr>
            <th>شرکت هوابیمایی</th>
            <th>مبدا</th>
            <th>مقصد</th>
            <th>ظرفیت</th>
            <th>زمان</th>
            <th>تاریخ</th>
        </tr>
        
        <tr>
            <td>Kish Air</td>
            <td>Tehran</td>
            <td>Mashhad</td>
            <td>100</td>
            <td>7:50:00</td>
            <td>1400/10/20</td>
        </tr>
         <tr>
            <td>singapore Air</td>
            <td>Singapore</td>
            <td>Dubai</td>
            <td>30</td>
            <td>12:00:00</td>
            <td>1401/01/01</td>
        </tr>
        <tr>
            <td>Zagros Air</td>
            <td>Kish</td>
            <td>Tabriz</td>
            <td>80</td>
            <td>2:35:00</td>
            <td>1400/11/11</td>
        </tr>
       
    </table>
</body>

</html>